<!DOCTYPE html>
<html lang="en">

<head>	

  <title>Syna World</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/icons/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
  <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
  <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
  <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
  <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" type="text/css" href="css/util.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Oswald:400,700"> 
  <link rel="stylesheet" type="text/css" href="fonts/icomoon/style.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" type="text/css" href="css/mediaelementplayer.css">
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <link rel="stylesheet" type="text/css" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" type="text/css" href="css/fl-bigmug-line.css">
  <link rel="stylesheet" type="text/css" href="css/aos.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<style>
html { 
    background: url(images/BgHome2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>
  
<body class="large-header" style="background-color: transparent;" id="large-header">

    <div class="site-wrap" style="background-attachment: scroll;">

        <div class="site-navbar mt-4" style="position: fixed;">
            <div class="container py-1">
              <div class="row align-items-center">
                <div class="col-8 col-md-8 col-lg-4">
                  <h1 class="mb-0"><a href="/" class="text-white h2 mb-0"><strong>Syna World</strong></a></h1>
                </div>
                <div class="col-4 col-md-4 col-lg-8">
                  <nav class="site-navigation text-right text-md-right" role="navigation">
    
                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
    
                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                      <li class="active"><a href="#ALBUMS">ALBUMS</a></li>
                      <li><a href="#EPS">EPS</a></li>
                      <li><a href="#SINGLES">SINGLES</a></li>
                      <li><a href="#ARTISTES_BEATMAKERS">ARTISTES / BEATMAKERS</a></li>
                      <li><a href="#CLIPS">REALS</a></li>
                      <li><a href="#PRODS">PRODS</a></li>
                      <li><a href="#SORTIES">PROCHAINEMENT</a></li>
                    </ul>
                  </nav>
                </div>
               
    
              </div>
            </div>
          </div>
        </div>
    
      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div> <!-- .site-mobile-menu -->
        
      <div class="site-section" id="ALBUMS">
        <div class="container" style="text-align: center;">

          <div class="row" style="margin-top: 80px;">
            <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
              <h2 class="mb-5">ALBUMS</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <a class="unit-9">
                <div class="image" style="background-image: url('images/jacquette.png');"></div>
                <div class="unit-9-content">
                  <h2>NITRO</h2>
                  <span>2024</span>
                </div>
              </a>
            </div>
            
          </div>
        </div>
      </div>
    
      <div class="site-section" id="EPS">
        <div class="container" style="text-align: center;">
          <div class="row" style="margin-top: 80px;">
            <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
              <h2 class="mb-5">EPS</h2>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <a href="https://www.youtube.com/watch?v=l16HWUYrOLc&list=PLtd0SvnX_r8ADZDlJmy7MjHCSitIn7lQQ" class="unit-9">
                <div class="image" style="background-image: url('images/eps/ombre.png');"></div>
                <div class="unit-9-content">
                  <h2>OMBRE</h2>
                  <span>2020</span>
                </div>
              </a>
            </div>

            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <a href="https://www.youtube.com/watch?v=p1uRXx5bbuI&list=PLtd0SvnX_r8CwTI6M_PFXN5Kvf2seIGGt" class="unit-9">
                <div class="image" style="background-image: url('images/eps/lumos.png');"></div>
                <div class="unit-9-content">
                  <h2>LUMOS</h2>
                  <span>2021</span>
                </div>
              </a>
            </div>

            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <a href="https://www.youtube.com/watch?v=691egBFSlkg&list=PLtd0SvnX_r8CxEQeG-ZAfKtq6kKiLrppg" class="unit-9">
                <div class="image" style="background-image: url('images/eps/ctc.png');"></div>
                <div class="unit-9-content">
                  <h2>CTC</h2>
                  <span>2021</span>
                </div>
              </a>
            </div>            
            
          </div>
        </div>
      </div>

      <div class="site-section" id="SINGLES">
        <div class="container" style="text-align: center;">
          <div class="row" style="margin-top: 80px;">
            <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
              <h2 class="mb-5">SINGLES</h2>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <a href="https://www.youtube.com/watch?v=wuCx6CEUzDg" class="unit-9">
                <div class="image" style="background-image: url('images/singles/Accelere.png');"></div>
                <div class="unit-9-content">
                  <h2>ACCELERE</h2>
                  <span>2020</span>
                </div>
              </a>
            </div>

            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <a href="https://www.youtube.com/watch?v=K0mSPbp3B68" class="unit-9">
                <div class="image" style="background-image: url('images/singles/St_Petersburg.png');"></div>
                <div class="unit-9-content">
                  <h2>ST PETERSBURG</h2>
                  <span>2021</span>
                </div>
              </a>
            </div>          
            
          </div>
        </div>
      </div>

      <div class="site-section" id="ARTISTES_BEATMAKERS">
        <div class="container" data-aos="fade-up">
          <div class="row" style="margin-top: 80px;">
            <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
              <h2 class="mb-5">ARTISTES & BEATMAKERS</h2>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">

              <div class="team-member">
  
                <a href="https://www.youtube.com/channel/UClp38SvpdPk8UDYpF0m7-WA" > <img src="images/person_7.png" alt="Image" class="img-fluid"> </a>
  
                <div class="text">
  
                  <h2 class="mb-2 font-weight-light h4">CORTINO</h2>
                  <span class="d-block mb-2 text-white-opacity-05">Artiste Indépendant Rap (Cloud & Chill)</span>
                  <p>
                    <a href="https://www.instagram.com/cortistud/" class="text-white p-2"><span class="icon-instagram"></span></a>
                    <a href="https://www.youtube.com/channel/UClp38SvpdPk8UDYpF0m7-WA" class="text-white p-2"><span class="icon-youtube"></span></a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=cortinocorporation@gmail.com&su=Demande d'information&body=Ecrivez votre message ici" class="text-white p-2"><span class="icon-envelope"></span></a>
                  </p>
                </div>
              </div>
        
            </div>

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">

              <div class="team-member">
  
                <a href="https://www.youtube.com/channel/UCgYSthyfBw74Uptqna1qXBQ"> <img src="images/synatracks.png" alt="Image" class="img-fluid"> </a>
  
                <div class="text">
  
                  <h2 class="mb-2 font-weight-light h4">SYNATRACKS</h2>
                  <span class="d-block mb-2 text-white-opacity-05">Beatmaker Indépendant Rap (Cloud, Drill, Chill, Hard)</span>
                  <p>
                    <a href="https://www.instagram.com/synatracks/" class="text-white p-2"><span class="icon-instagram"></span></a>
                    <a href="https://www.youtube.com/channel/UCgYSthyfBw74Uptqna1qXBQ" class="text-white p-2"><span class="icon-youtube"></span></a>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=tomjiiibeats@gmail.com&su=Demande d'information&body=Ecrivez votre message ici&bcc=cortinocorporation@gmail.com" class="text-white p-2"><span class="icon-envelope"></span></a>
                  </p>
                </div>
              </div>
        
            </div>
        </div>
      </div>
    
      <div class="site-section" id="CLIPS">
  
        <div class="container">
  
          <div class="row" style="margin-top: 80px;">
            <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto" data-aos="fade-up">
              <h2 class="mb-5">REALS</h2>
              <p>BIENTOT DISPONIBLE</p>
            </div>
          </div>
          
          <div class="site-block-retro d-block d-md-flex">
  
            <!-- <a href="#" class="col1 unit-9 no-height" data-aos="fade-up" data-aos-delay="100">
              <div class="image" style="background-image: url('images/img_2.jpg');"></div>
              <div class="unit-9-content">
                <h2>Classic Songs For Classic People</h2>
                <span>Friday 1:00pm &mdash; 2:30pm</span>
              </div>
            </a>
  
            <div class="col2 ml-auto">
  
              <a href="#" class="col2-row1 unit-9 no-height" data-aos="fade-up" data-aos-delay="200">
                <div class="image" style="background-image: url('images/img_3.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Classic Songs For Classic People</h2>
                  <span>Friday 1:00pm &mdash; 2:30pm</span>
                </div>
              </a>
  
              <a href="#" class="col2-row2 unit-9 no-height" data-aos="fade-up" data-aos-delay="300">
                <div class="image" style="background-image: url('images/img_1.jpg');"></div>
                <div class="unit-9-content">
                  <h2>Classic Songs For Classic People</h2>
                  <span>Friday 1:00pm &mdash; 2:30pm</span>
                </div>
              </a>
  
            </div> -->
  
          </div>
          
        </div>
      </div>
        
      <div class="site-section block-13" id="PRODS">
        <div class="container" data-aos="fade-up">
          <div class="row" style="margin-top: 80px;">
            <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
              <h2 class="mb-5">PRODS</h2>
            </div>
          </div>
          <div class="nonloop-block-13 owl-carousel">
            
            <%- include("Productions_1.ejs") %>

          </div>

          <div class="nonloop-block-13 owl-carousel">

            <%- include("Productions_2.ejs") %>

          </div>

          <div class="nonloop-block-13 owl-carousel">

            <%- include("Productions_3.ejs") %>
            
          </div>

          <div class="nonloop-block-13 owl-carousel">

            <%- include("Productions_4.ejs") %>
            
          </div>
        </div>
      </div>  
    
      <div class="site-section" id="SORTIES">
        <div class="container">
          <div class="row" style="margin-top: 80px;">
            <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto" data-aos="fade-up">
              <h2 class="mb-5">PROCHAINEMENT</h2>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
              <a> <img src="images/jacquette.png" alt="Image" class="img-fluid"> </a>
              <div class="p-4 bg-white">
                <span class="d-block text-secondary small text-uppercase">../../2024</span>
                <h2 class="h5 text-black mb-3">NITRO</h2>
                
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
              <a> <img src="images/packsprods/ice.png" alt="Image" class="img-fluid"> </a>
              <div class="p-4 bg-white">
                <span class="d-block text-secondary small text-uppercase">../../2022</span>
                <h2 class="h5 text-black mb-3">PACK ICE</h2>
                
              </div>
            </div>
            
          </div>
        </div>
      </div>
    
      <div class="bg-primary" data-aos="fade">
        <div class="container">
          <div class="row" style="margin-top: 80px;">
            <a href="https://www.instagram.com/cortistud/" class="col-2 text-center py-4 social-icon d-block"><span class="icon-instagram text-white"></span></a>
            <a href="https://www.youtube.com/channel/UClp38SvpdPk8UDYpF0m7-WA" class="col-2 text-center py-4 social-icon d-block"><span class="icon-youtube text-white"></span></a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=cortinocorporation@gmail.com&su=Demande d'information&body=Ecrivez votre message ici&bcc=tomjiiibeats@gmail.com" class="col-2 text-center py-4 social-icon d-block"><span class="icon-envelope text-white"></span></a>
          </div>
        </div>
      </div>
    
    </div>

    <div id="dropDownSelect1"></div>

    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <script src="vendor/countdowntime/countdowntime.js"></script>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mediaelement-and-player.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/a3e486c479.js" crossorigin="anonymous"></script>

  </body>
</html>