<div class="text-center p-3 p-md-5 bg-white">
  <div class="mb-4">            
    <img src="images/productions/News/1.JPG" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
  </div>
  <div class="text-black">
    <h3 class="font-weight-light h5">KATANA</h3>
    <p class="font-italic">[FREE] Instru/Prod Rap/Dark</p>
    <p class="font-italic">130 BPM | B Minor</p>
    <p class="font-italic">(Prod. By Corti & Tomjiii Beats)</p>
  </div>
  <h2 class="h5 text-black mb-3"><a href="https://www.youtube.com/watch?v=UjdhezyDkLA">Ecouter sur Youtube</a></h2>
</div>

<div class="text-center p-3 p-md-5 bg-white">
  <div class="mb-4">            
    <img src="images/productions/News/2.JPG" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
  </div>
  <div class="text-black">
    <h3 class="font-weight-light h5">COLORS</h3>
    <p class="font-italic">[FREE] Instru/Prod Club/Banger</p>
    <p class="font-italic">120 BPM | F# Minor</p>
    <p class="font-italic">(Prod. By Corti & Tomjiii Beats)</p>
  </div>
  <h2 class="h5 text-black mb-3"><a href="https://www.youtube.com/watch?v=yKkNmIsDFuk">Ecouter sur Youtube</a></h2>
</div>

<div class="text-center p-3 p-md-5 bg-white">
  <div class="mb-4">            
    <img src="images/productions/News/3.JPG" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
  </div>
  <div class="text-black">
    <h3 class="font-weight-light h5">SHADOW</h3>
    <p class="font-italic">[FREE] Instru/Prod Trap</p>
    <p class="font-italic">163 BPM | E Minor</p>
    <p class="font-italic">(Prod. Tomjiii Beats)&ldquo;</p>
  </div>
  <h2 class="h5 text-black mb-3"><a href="https://www.youtube.com/watch?v=e4Y6xf_jQNg">Ecouter sur Youtube</a></h2>
</div>

<div class="text-center p-3 p-md-5 bg-white">
  <div class="mb-4">            
    <img src="images/productions/News/4.JPG" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
  </div>
  <div class="text-black">
    <h3 class="font-weight-light h5">EARTH</h3>
    <p class="font-italic">[FREE] Instru/Prod Rap/Cloud</p>
    <p class="font-italic">140 BPM | B Minor</p>
    <p class="font-italic">(Prod. Corti)</p>
  </div>
  <h2 class="h5 text-black mb-3"><a href="https://www.youtube.com/watch?v=FnP13zgIwFs">Ecouter sur Youtube</a></h2>
</div>

<div class="text-center p-3 p-md-5 bg-white">
  <div class="mb-4">            
    <img src="images/productions/News/5.JPG" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
  </div>
  <div class="text-black">
    <h3 class="font-weight-light h5">DESTINY</h3>
    <p class="font-italic">[FREE] Instru/Prod Rap</p>
    <p class="font-italic">185 BPM | B Minor</p>
    <p class="font-italic">(Prod. Corti)</p>
  </div>
  <h2 class="h5 text-black mb-3"><a href="https://www.youtube.com/watch?v=gtUIUAov7yw">Ecouter sur Youtube</a></h2>
</div>

<div class="text-center p-3 p-md-5 bg-white">
  <div class="mb-4">            
    <img src="images/productions/News/6.JPG" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
  </div>
  <div class="text-black">
    <h3 class="font-weight-light h5">UNKNOW</h3>
    <p class="font-italic">[FREE] Instru/Prod Rap/Trap</p>
    <p class="font-italic">128 BPM | D Minor</p>
    <p class="font-italic">(Prod. Tomjiii Beats)</p>
  </div>
  <h2 class="h5 text-black mb-3"><a href="https://www.youtube.com/watch?v=3Tmw8vEZobk">Ecouter sur Youtube</a></h2>
</div>